<HTML>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="{{url_for('static', filename='maps.js')}}"></script>
    <style>
#map {
  height: 50%;
  width: 50%;
}
</style>
</head>

<BODY>
    <ul>
        <li><a href="{{url_for('list_units')}}">View Units</a>
        <li><a href="{{url_for('send_email', unit_type='PACK')}}">Email Packs</a>
        <li><a href="{{url_for('send_email', unit_type='TROOP')}}">Email Troops</a>
    </ul>
    <H1>Upload Key 3 CSV</H1>
    <form enctype="multipart/form-data" action="{{url_for('upload_key3')}}" method="POST">
        <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
        Choose a file to upload: <input name="file" type="file" />
        <input type="submit" value="Upload File" />
    </form>
    <H1>Upload Unit Pin CSV</H1>
    <form enctype="multipart/form-data" action="{{url_for('upload_pin')}}" method="POST">
        <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
        Choose a file to upload: <input name="file" type="file" />
        <input type="submit" value="Upload File" />
    </form>    

   <div id="map"></div>
   <div id="info-box"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{googlemaps_api_key}}&callback=initMap&v=weekly"
      defer
    ></script>
</BODY>

</HTML>